<% content_for :functional_nav do%>
<li><%= link_to 'Add', new_buy_path %></li>
<% end %>
<%= currently_at 'Buys'%>

<h1>Listing buys</h1>

<table id="buys" class="display">
<thead>	
  <tr>
    <th>Status</th>  	
    <th>Stock</th>
    <th>Category</th>    
    <th>Purchase Date</th>
    <th>Days</th>    
    <th>Qty</th>
    <th>Price</th>
    <th>Amount</th>  
    <th>Net</th>        
    <th>Website</th>  
    <th>Kind</th>    
    <th>Id</th>      
    <th>Sell</th>            
  </tr>
</thead>
<tbody>
<% @buys.each do |buy| %>
  <tr>
    <td><%= buy.status %></td>  	
    <td><%= link_to(buy.stock.name, buy) %></td>
    <td><%= buy.stock.category.name %></td>    
    <td><%= buy.date %></td>
    <td><%= (Date.today - buy.date).to_i %></td>    
    <td><%= number_with_delimiter(buy.qty) %></td>
    <td><%= number_to_currency(buy.price) %></td>    
    <td><%= number_to_currency(buy.amount) %></td>       
    <td><%= number_to_currency(buy.net) %></td>    
    <td><%= link_to(buy.stock.website, "http://"+buy.stock.website, :target => "_new") %></td>  
   <td><%= buy.kind %></td>    
   <td><%= buy.id %></td>   
   <td><%= link_to 'Sell', new_sell_path %></td>       
  </tr>
<% end %>
</tbody>
</table>


